<html>
    <head>
        <title>{{title}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet" />
    </head>
    <body>
        <div class="container">
            <h1>{{message}}</h1>

            <table class="table table-striped">
                {{#each people}}
                <tr>
                    <td>{{this.id}}</td>
                    <td><a href="/people/{{this.id}}">{{this.name}}</a></td>
                </tr>
                {{/each}}
            </table>
        </div>
    </body>
</html>